<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="Annotations">

        <parameter name="email"  value="bakytgul.sarsenbayeva@btsdigital.kz" />
        <parameter name="password"  value="VXuVrCLpT8su" />

        <classes>
            <class name="cases.OtusTest"/>
        </classes>

    </test> <!-- Annotations -->
</suite> <!-- Suite -->